Source: nuts-cpp-settings
Section: misc
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://nxos.org


Package: nuts-cpp-settings
Architecture: any
Depends: nuts-cpp
Conflicts: nuts
Description:  Settings for nuts-cpp.

